name: Tests - 2022 - F#

on: 
  push:
    paths:
      - ".github/workflows/2022-fsharp.yml"
      - "2022/inputs/**"
      - "2022/outputs/**"
      - "2022/solutions/fsharp/**"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.404
    - name: Run tests
      run: cd ./2022/solutions/fsharp/ && dotnet tool restore && ./test-all.sh
